/****************
 * Color palette
 ****************
 * gray #586f75
 * light-blue #aedce7
 * blackish #2d2f35
 * orange #cc6649
 * teal #468499
 */

@import url('https://fonts.googleapis.com/css?family=VT323|Lora:400,700,400i,700i|Chelsea+Market');

.remark-slide-content {
  font-size: 1.4rem;
}

.remark-slide-content p {
  margin: 1rem;
}

.remark-slide-content ul,
.remark-slide-content ol {
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.remark-slide-content a {
  text-decoration: none;
  color: inherit;
}

.remark-slide-content a:hover {
  border-bottom: 1px dotted;
}

.remark-slide-content th,
.remark-slide-content td {
  padding-left: .5rem;
  padding-right: .5rem;
}

.big {
  font-size: 2.5rem;
}

.small {
  font-size: 1rem;
}

.subtitle {
  font-size: 2.2rem;
  font-family: "Chelsea Market", "Helvetica", sans-serif;
}

.subsubtitle {
  font-size: 1.8rem;
  font-family: "Chelsea Market", "Helvetica", sans-serif;
}

.remark-slide-content .subtitle,
.remark-slide-content .subsubtitle {
  display: block;
}

.img-1 {
  position: absolute;
  top: .5rem;
  left: 4.5rem;
}

.img-2 {
  position: absolute;
  top: 3rem;
  left: 11.5rem;
}

.img-3 {
  position: absolute;
  top: 5.5rem;
  right: 4.5rem;
}

.img-1,
.img-2,
.img-3 {
  max-width: 60%;
  height: 85%;
}

.img-1 p:first-child,
.img-2 p:first-child,
.img-3 p:first-child {
  height: inherit;
}

.img-1 img,
.img-2 img,
.img-3 img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: .3rem;
  box-shadow: .5rem  .5rem  1rem black;
}

/* fonts */

.remark-slide-content {
  font-family: "Lora", "Times", serif;
}

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3,
.remark-slide-content h4,
.remark-slide-content h5,
.remark-slide-content h6 {
  font-family: "Chelsea Market", "Helvetica", sans-serif;
  font-weight: normal;
}

.remark-slide-content pre,
.remark-slide-content code,
.remark-slide-content kbd {
  font-family: "VT323", monospace;
}

/* colors */

.remark-slide-content {
  color: #f2f2f2;
  background-color: #2d2f35 !important;
}

.remark-slide-content strong {
  color: #cc6649;
}

.remark-slide-content a {
  color: #cc6649;
}

.emph {
  color: #cc6649;
}

.greyout {
  color: #586f75;
}

/***** footnote *****/

.footnote {
  position: absolute;
  left: 0;
  bottom: .5rem;
  width: 100%;
  text-align: center;
}

/* colors */

.footnote {
  color: #586f75;
}

/***** two columns *****/

.left-column {
  width: 20%;
  height: 92%;
  float: left;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.right-column-a {
  width: 75%;
  float: right;
}

.left-column h1 {
  font-size: 2rem;
}

.left-column h2 {
  font-size: 1.8rem;
}

.left-column h3 {
  font-size: 1.5rem;
}

.left-column h4 {
  font-size: 1.3rem;
},

.left-column h5 {
  font-size: 1.1rem;
}

.left-column h6 {
  font-size: 1rem;
}
  
/* colors */

.left-column {
  color: #468499;
}

.left-column .selected {
  color: #aedce7;
}

